<div class="container well" style="background: white;">
  <div class="wrapper" style="background: white;">

  	<section id='body_content'>
  		<%=raw @page.content_for(:body) %>
  	</section>

  </div>
</div>