/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

$grayDarker: #222;
$gray: #555;
$grayLight: #999;
$grayLighter: #eee;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html, body {
  background: url("http://cms.ucd.ie/t4cms/background_page.png") repeat-x scroll left top #E7E7E7;
  color: #333333;
}

body {
  padding-top: 60px;
}

/* well */

.well {
  background: url("http://cms.ucd.ie/t4cms/background_doormat.png") repeat-x scroll left top #F5F5F5;
  border-color: #DDDDDC;
  border-style: solid;
  border-width: 0 1px 1px;
  padding: 15px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* typography */

.ipsewp {
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.7em;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
